:root {
  --main-bg: #1f112c;
  --primary: #4d3d6f;
  --secondary: #cec0d9;
  --tertiary: #7caef3;
  --quarternary: #d1af6f;
  --quinary: #1956be;
}

.body-background{
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  padding-left: 0px;
  padding-right: 0px;
}
.addletter{
  padding-left: 0px;
  padding-right: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
