:root {
  --main-bg: #1f112c;
  --primary: #4d3d6f;
  --secondary: #cec0d9;
  --tertiary: #7caef3;
  --quarternary: #d1af6f;
  --quinary: #1956be;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.danger {
  color: lightcoral;
  width :240px;
  margin:0 auto;
  background: white;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
