

.card {
  height: 100vh;
  background: #1b1f22;
  color: white;
  padding: 5px;
  padding-top: 20px;
}
.card-title {
  color: #ffffff;
  font-size: 25px;
  border-bottom: 2px solid #ffffff;
  font-family: Georgia, serif;
}
.far {
  color: white;
  margin-right: 3%;
}
.fas {
  color: white;
  margin-right: 3%;
}
.link-mod {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ffffffad;
  color: #ffffffad;
  padding: 30px;
}
.link-mod:hover {
  color: #ffffff;
  border-bottom: 1px solid #1b1f22;
  background: #282d31;
}
