.documents-style {
  height: 200px;
  width: 150px;
  margin: 20px;
  margin-right: 10px;
  font-size: 15px;
}
.documents-background{
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  padding-left: 0px;
  padding-right: 0px;
}
.fa-plus-circle {
  color: lightgreen;
  font-size: 25px;
}
