.controlCol-styles{
  border: 6px solid #1b1f22;
  background:#1b1f22;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.col-md-6 {
  margin-bottom: 0px;
}
.rowTextArea-styles {
  min-height: 600px;
  margin-bottom: 0px;
}
.controlTextarea-styles {


  background: white;
  color: black;
}
.controlBtn-styles {
  width: 600px;
}
.fa-arrow-circle-left {
  font-size: 40px;
}
.fa-arrow-circle-left:hover {
  cursor: grab;
  color:lightgreen;
}
.fa-arrow-circle-right {
  font-size: 40px;
}
.fa-arrow-circle-right:hover{
cursor:grab;
color:lightgreen;

}
.label {
  color: red;
}
.versionsCounter-styles{
  min-width: 50px;
}
