.card-body {
  display: flex;
  flex-direction: column;
}
.col-md-6 {
  margin-bottom: 0px;
}
.analyze-styles {
  width: 51%;
}
.edit-styles{
  width: 51%;
}
.movement-btn {
  width: 100px;
}
.controlTextarea-styles {
  height:100%;
  background: white;
  color: black;
}
.taInput-styles{
  resize: none;
}
.controlBtn-styles {
  display: flex;
flex-direction: row
}
.fa-arrow-circle-left {
  font-size: 40px;
  margin-left: 5px;
}
.fa-arrow-circle-left:hover {
  cursor: grab;
  color: var(--tertiary)
}
.fa-arrow-circle-right {
  font-size: 40px;
}
.fa-arrow-circle-right:hover{
cursor:grab;
color: var(--tertiary)

}
.label {
  color: red;
}
.versionsCounter-styles{
  min-width: 50px;
}
.sadness{
  font-size: 13px;
  background: lightblue;
  border-bottom:1px solid black;
}
.anger{
  background: lightcoral;
  font-size: 13px;
  border-bottom:1px solid black;
}
.analytical{
  background: lightgoldenrodyellow;
  font-size: 13px;

}
.joy{
  background: lightgreen;
  font-size: 13px;
 
}
.fa-smile-beam{
  color:black;
  font-size:20px;
}
.fa-angery{
  color:black;
  font-size:20px;
}
.fa-sad-tear{
  color:black;
  font-size:20px;
}
.fa-surprise{
  color:black;
  font-size:20px;
}
.success{
  color: var(--tertiary)
}
.moreInfo-styles{
  height: 300px;
}
.infoBody-styles{
  height: 200px;
}
.emails-styles {
  width: 48%;
  margin-top: 15px;
}
.modal-title{
  margin-left: 15%;
}
.modal-content{
  background: var(--secondary);
}
.modal-footer {
  display: flex;
  justify-content: center;
}