
.controlCol-styles{
  border: 6px solid #1b1f22;
  background:#1b1f22;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.col-md-6 {
  margin-bottom: 0px;
}


.controlTextarea-styles {

  height:100%;
  background: white;
  color: black;
}
.taInput-styles{
  resize: none;
}
.controlBtn-styles {
  display: flex;
flex-direction: row
}
.fa-arrow-circle-left {
  font-size: 40px;
}
.fa-arrow-circle-left:hover {
  cursor: grab;
  color:lightgreen;
}
.fa-arrow-circle-right {
  font-size: 40px;
}
.fa-arrow-circle-right:hover{
cursor:grab;
color:lightgreen;

}
.label {
  color: red;
}
.versionsCounter-styles{
  min-width: 50px;
}
.sadness{
  font-size: 13px;
  background: lightblue;
  border-bottom:1px solid black;
}
.anger{
  background: lightcoral;
  font-size: 13px;
  border-bottom:1px solid black;
}
.analytical{
  background: lightgoldenrodyellow;
  font-size: 13px;

}
.joy{
  background: lightgreen;
  font-size: 13px;
 
}
.fa-smile-beam{
  color:black;
  font-size:20px;
}
.fa-angery{
  color:black;
  font-size:20px;
}
.fa-sad-tear{
  color:black;
  font-size:20px;
}
.fa-surprise{
  color:black;
  font-size:20px;
}
.success{
  color:lightgreen;
}
.moreInfo-styles{
  height: 300px;
}
.infoBody-styles{
  height: 200px;
}











